---
---

<div class="free-open-source-aside">
  <h5 class="aside-title">Free and Open Source</h5>

  Aspire is free and open source—always. No hidden costs, no lock-in. Join a thriving community and help shape the future of cloud-native development.
</div>

<style>
    .aside-title {
        margin-bottom: 1rem;
        font-size: 1.25rem;
        font-weight: 600;
    }

    .free-open-source-aside {
        font-size: 1rem;
        line-height: 1.5;
        background: var(--aspire-color-primary);
        padding: 2rem 4rem;
        border-radius: 1rem;
        margin-bottom: 2rem;
        margin-left: -4rem;
        margin-right: -4rem;
    }

    .free-open-source-aside,
    .aside-title {
        color: var(--aspire-color-white);
    }
</style>